<div  class="nav-bar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
      <div class="w-container">
        <a class="w-nav-brand" href="#">
          <div routerLink='/' class="nav-bar-logo-text">Oswald</div>
        </a>
        <nav class="nav-menu-hidden w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="#">Dashboard</a><a class="nav-link w-nav-link" routerLink='/listing'>Listing</a><a class="nav-link w-nav-link" routerLink="/create">Create</a>
        </nav>
        <div class="w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
        
      </div>
    </div>
    <div>