<app-nav ></app-nav>

 <div *ngIf="submitted"> 
        <div  class="ui text active big  inline centered loader"> Uploading, hang on just a little bit longer..</div> 
          
 </div>
      <div class="card-bound">
        <div class="big-card">
          <div class="bottom-pad">
            <div class="big-card-heading">{{ (project | async)?.name }}</div>
            <div class="bigcard sub-head">{{ (project | async)?.description }}</div>
          </div>
          <div class="bottom-pad">
            <div class="tag-container">
              <div smDirTooltip="platform" smDirPosition="bottom right" class="tag">
                <div>{{ (project | async)?.platform }}</div>
              </div>
              <div smDirTooltip="Line of Business" smDirPosition="bottom center" class="tag">
                <div>{{ (project | async)?.lob }}</div>
              </div>
             
              <div smDirTooltip="Project Status" smDirPosition="bottom left" class="tag">
                <div>{{ (project | async)?.status }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="big-card">
          <div class="_30 bottom-pad">
            <div class="big-card-heading">What do you want to do?</div>
          </div>
          <div  class="big-card-actionbox w-clearfix" data-content="Click to download">
            <div   (click)="download()" class="action"><img  class="action-img" src="../../assets/images/download.png">
              <div>Download Latest</div>
            </div>
            <div (click)="myModalNormal.show()" class="action"><img class="action-img" src="../../assets/images/edit.png">
              <div>Edit Project Details</div>
            </div>
            <div (click)=" updateVerModal.show();" class="action"><img class="action-img" src="../../assets/images/upload.png">
              <div>Update Version</div>
            </div>
          </div>
        </div>
        <div class="big-card">
          <div class="big-card-text">Last updated to version <span class="name-link">{{ (project | async)?.version }}</span> on <span class="name-link">{{ ((project | async)?.createdOn)| date }}</span> by <span class="name-link">{{ (project | async)?.creatorName }}</span>
          </div>
        </div>
      </div>


      <sm-modal #myModalNormal>
    <modal-content>
        
          <form class="ui form">
            <div class="field">
              <label>Project Name</label>
              <input type="text"  #newname  value="{{ (project | async)?.name }}" placeholder="{{ (project | async)?.name }}">
            </div>

            <div class="field">
              <label>Description</label>
              <input type="text"  #desc  value="{{ (project | async)?.description }}" placeholder="{{ (project | async)?.description }}">
            </div>

            
            <select #status class="slection w-select">
                 <option value="{{ (project | async)?.status }}"> Choose Project Status</option>
                  <option  *ngFor="let sp of statusSelector | async" value={{sp.$key}}>{{sp.$key}}</option>
                </select>
            
            
            
            
            <button class="ui button" (click)="update(newname.value, desc.value,status.value);myModalNormal.show();" type="submit">Confirm Changes</button>
          </form>
         
       
   </modal-content>
   
</sm-modal>


<sm-modal #updateVerModal>
    <modal-content>
        <form>
          <div class="ui field" style="margin-bottom: 20px">
              <input type="file"  (change)="handleUpload($event)" placeholder="Upload file..."/>
            </div>
            
            
            <button *ngIf="!submitted" class="ui button" (click)="updateVersion(); updateVerModal.show();" type="submit">Confirm Changes</button>
          </form>
         
         
       
   </modal-content>
   
</sm-modal>